*{
	margin:0px;padding:0px;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.Big{
	width: 100%;
	background-color: #f9f9f9;
}
.top{
	width: 1200px;
	height: 105px;
	margin: 0 auto;
	background-color: #ffffff;
}
.top1{
	width: 180px;
	float: left;
}
.top2{
	width: 330px;
	height: 105px;
	font-size:28px;
	font-style:"微软雅黑";
	color:#0b4199;
	float:left;
	margin-top:48px;
}
.top3{
	width: 216px;
	height: 105px;
	float: left;
	margin-left: 200px;
}
.p{
	margin-top: 60px;
	font-size:20px;
	font-style:"微软雅黑";
	color:#0b4199;
	float: left;
}
.topword{
	width: 245px;
	height: 105px;
	float: left;
	font-size: 16px;
	color: #7d7d7d;
}
select{
	border:0;
	color: red;
}
.header{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px; 
}
.headerword1{
    float:left;
	font-size:16px;
	font-style:'微软雅黑';
	margin-top:9px;
}
.p1{
	text-align:center;
	font-size:16px;
	font-style:'微软雅黑';
	color:white; 
	margin-top: 2px; 
}
.form{
	margin-right: 0px;
}
.form>* {outline: 0;}
.form input {
	float: left;
	font-size: 12px;
	height: 31px;
	width: 200px;
	text-indent: 8px;
	border: 1px solid #e2e2e2;
	background-color:#e2e2e2;
}
.form button {
	height: 33px;
	width: 30px;
	border: 0;
}
.mid{
	width:1200px;
	height:205px;
	margin: 0 auto;
}
.midimg{
	float: right;
	margin-top: 45px;
}
.div1{
	width: 1200px;
	height: 1120px;
	margin: 0 auto;
    background-color: white;
}
.div11{
	width: 300px;
	height:480px;
	border:1px solid white;
	float: left;
	background-color: white;
}
}
.foot{
	width: 100%;
	height:60px;
	background-color: #0b4199;
}
.foot1{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	background-color: #0b4199;
}
.last1 {
	height: 342px;
	width: 100%;
	background-color: #454545;
	margin: 0 auto;
	float: left;
}
