*{
	margin:0px;padding:0px;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.Big{
	width: 100%;
}
.top{
	width: 1200px;
	height: 105px;
	margin: 0 auto;
	background-color: #ffffff;
}
.top1{
	width: 180px;
	float: left;
}
.top2{
	width: 330px;
	height: 105px;
	font-size:28px;
	font-style:"微软雅黑";
	color:#0b4199;
	float:left;
	margin-top:48px;
}
.top3{
	width: 216px;
	height: 105px;
	float: left;
	margin-left: 200px;
}
.p{
	margin-top: 60px;
	font-size:20px;
	font-style:"微软雅黑";
	color:#0b4199;
	float: left;
}
.topword{
	width: 245px;
	height: 105px;
	float: left;
	font-size: 16px;
	color: #7d7d7d;
}
select{
	border:0;
	color: red;
}
.header{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px; 
}
.headerword1{
    float:left;
	font-size:16px;
	font-style:'微软雅黑';
	margin-top:9px;
}
.p1{
	text-align:center;
	font-size:16px;
	font-style:'微软雅黑';
	color:white; 
	margin-top: 2px; 
}
.form{
	margin-right: 0px;
}
.form>* {outline: 0;}
.form input {
	float: left;
	font-size: 12px;
	height: 31px;
	width: 200px;
	text-indent: 8px;
	border: 1px solid #e2e2e2;
	background-color:#e2e2e2;
}
.form button {
	height: 33px;
	width: 30px;
	border: 0;
}
.mid{
	width:1200px;
	height:205px;
	background-color:#f9f9f9;
	margin: 0 auto;
}
.midimg{
	float: right;
	margin-top: 45px;
}
.div1{
	height: 590px;
	width: 1200px;
	margin: 0 auto;
	 
}
.div11{
	height: 100px;
	width: 1200px;
	float: left;
}
.nav{
	height: 100px;
	width: 1200px;
}
.div12{
	height: 490px;
	width: 1200px;
	float: left;
}
.div1pb{
	font-size: 22px;
	margin-top: 75px;
	margin-bottom: 70px;
	line-height: 37px;
	letter-spacing: 2px;
}
.div1pl{
	font-size: 14px;
	text-indent: 28px;/*首行空格*/
	line-height: 26px;/*行高*/
	letter-spacing: 1.5px;/*字间距*/
}
.div2{
	width: 1200px;
	height: 378px;
	margin: 0 auto;
	border-top: 2px solid #949494;
}
.div2pb{
	font-size: 22px;
	color: #2756a4;
	margin-top: 30px;
	margin-left:25px;
}
.div2pl{
	font-size: 14px;
	color: #434343;
	margin-left: 25px;
	line-height: 29px;
}
.div3{
	width: 1200px;
	height: 755px;
	margin: 0 auto;
}
.foot{
	width: 100%;
	height:60px;
	background-color: #0b4199;
}
.foot1{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.last1 {
	height: 342px;
	width: 100%;
	background-color: #454545;
	margin: 0 auto;
	float: left;
}